body {
  margin: 0;
  padding: 0;
  background: #F66E00;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 80%;
  margin: 0 auto;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
